<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>冠状病毒统计图</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 100%;height:900px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    $.ajax({
        url : '/virus/echarts',
        type : "POST",
        async : false,
        dataType : "json",
        cache : false,
        data:{},
        success : function(data) {
            var d = JSON.parse(data.data);
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '冠状病毒数据统计图'
                },
                tooltip: {},
                dataset: {
                    source: d
                },
                legend: {

                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {},
                series: [
                    {type: 'bar'},
                    {type: 'bar'},
                    {type: 'bar'},
                    {type: 'bar'}
                ]
            };
            console.log("option---"+JSON.stringify(option));
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        },
        error: function (xhr, ajaxOptions, throwError) {

        }
    });


</script>
</body>
</html>